<nav class="navbar is-spaced has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/dashboard">
            <img src="./assets/logo.png" style="width: 300; max-height: 3rem;">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/dashboard" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>
                </span>
            </a>

            <a class="navbar-item add-modal-trigger" data-target="add-news-model">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    <span> Add News</span>
                </span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-user-circle"></i>
                                </span>
                                <span>
                                    <%=localStorage.getItem('name')%>
                                </span>
                            </span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <p><span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        <span><%=localStorage.getItem('email')%></span>
                                    </span>
                                </p>
                            </div>
                            <div class="dropdown-item">
                                <a href="api/auth/logout" class="dropdown-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-sign-out-alt"></i>
                                        </span>
                                        <span> Logout</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./add-news'); %>
</nav>